name: Release

on:
  push:
    branches: [<%= branchName %>]

env:
  NODE_VERSION: 24.10.0

jobs:
  release:
    name: Release
    if: ${{ github.repository_owner == 'trueberryless-org' }}
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Generate GitHub App token
        id: generate_token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        with:
          app_id: ${{ secrets.BOT_APP_ID }}
          private_key: ${{ secrets.BOT_PRIVATE_KEY }}

      - name: Checkout Repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup PNPM
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"

      - name: Install Dependencies
        run: pnpm i

      - name: Create Release Pull Request
        uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba # v1.5.3
        id: changesets
        with:
          version: pnpm run version
          commit: "ci: release"
          title: "ci: release [skip netlify]"
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token}}

      - name: Get published version
        if: steps.changesets.outputs.hasChangesets == 'true'
        run: |
          git checkout changeset-release/main
          VERSION=$(node -p "require('./<%= projectFolder %>/package.json').version")
          NAME=$(node -p "require('./<%= projectFolder %>/package.json').name")
          git commit --amend -m "ci: release $NAME v$VERSION" --no-edit
          git push origin changeset-release/main:changeset-release/main --force
